<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/simplex/boostrap.min.css' />

<style media="screen">
body {
  background-image: url(/images/);
  background-position: center top;
  background-size: 100% auto;
}
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
</style>
  </head>
